*{ 
	margin:0 auto; 		
}
 /* Fontes */
 @font-face{
	font-family: "DroidSans";	 
	src: url('#{resource['fonts/DroidSans.ttf']}');
}
@font-face{
	font-family: "DroidSans-Bold";
	src: url('#{resource['fonts/DroidSans-Bold.ttf']}');
}
 /* Valores padrão */
 body{
    font-family: DroidSans;
}
 
/* Estilo para as telas principais */
._img-logo {
	width: 80%;
}

._message {	
	float:left;
	margin-bottom: 5%;
}

._message-default {
	clear: both !important;
	padding-bottom: 8%;
}

._container-datatable {
	width: 100%;
	float:left;
	margin: 2.5% 0;
}

._screen-title {
	width: 100%;
	height: 30%; 	
	border-bottom: 1px solid #F9F9F9;
	float:left;
	text-align: left;
	font-size:1.5em;	
	color: #255e8c;
}

._large-title {
	color: #102f47;
	font-size: 1.8em;
	border-bottom: 1px solid #102f47;
}

._sub-title {
	color: #d21515;
	float: left;
}

._list{
	color: #255e8c;
}

.tableFirstLine {    
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #BBBBBB;
}

.tableFirstLine td { 
  width: 80%;
}
 
.tableNextLine {
    background: none repeat scroll 0 0 #FFFFFFF;
    border-top: 1px solid #BBBBBB;
}
._list-container{
	width: 100%;
	padding: 2.5% 10%;
	font-size: 1.5em;
	margin-bottom: 10%;
}
._list-content{
	float:left;
	color: #092e49;
}
._list-content-table{
	float:left;
	font-size:0.8em
}
._list-button{
	float: right;
	background-color: white;
	border: none;
}
._small_button {
	height: 1.3em;
}
 
/* PrimeFaces estilo modificado */
/* Botões */

.fa-arrow-circle-o-up{
	color: #50A250 !important;
}

.fa-arrow-circle-o-down{
	color: #DB4E4A !important; 
}

.fa-thumbs-o-up{
	color: #50A250 !important;
}

.fa-thumbs-o-down {
	color: #DB4E4A !important;
}

.fa-remove {
	color: #bf1300 !important;
}

.ui-button-icon-only .ui-icon.fa, .ui-button-text-icon-left .ui-icon.fa, .ui-button-text-icon-right .ui-icon.fa {
  background-color: transparent !important;
}

/* SelectOneMenu */
.ui-selectonemenu .ui-selectonemenu-label {
  color: #9999AF;
  font-weight: bold;
}

/* SelectOneMenu Icon */
.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
  width: 150%;
  margin-top: 8px;
  float: left;
  margin-left: -2px;
}

/* CALENDAR MODIFICATE */
.ui-datepicker .ui-datepicker-title {
	width: 100% !important;
	margin: 0 auto !important;
	background-color: #cb0000;
	color: #F2F2F2;
}

.ui-datepicker .ui-datepicker-prev { 
	opacity: 100;	
}

.ui-datepicker .ui-datepicker-next {
	opacity: 100;
}

.ui-datepicker .ui-datepicker-calendar
.ui-state-default {
	border: 1px solid #5F83B9;
}

/* INPUT MODIFICADA */
.ui-inputfield {	
	width: 100% !important;		
	font-size: 1.2em !important;	
	border-color: #7a7a7a;
	margin: 2.5% 0 0 0 !important; 
}
.ui-selectonemenu label.ui-selectonemenu-label{
	margin: 0 !important;	
}
	
._container-login{
	margin: 5%;
}

/* AUTOCOMPLET MODIFIED */
.ui-autocomplete {			 
	width: 110% !important;
	margin: -3.5% 0 2.5% -5% !important;
	background-color: transparent !important;
	border: none !important;	
}

/* Estilo para icones e botões */
/*
.fa{
	background-color: #337AB7 !important;
	color: white !important;
}
*/
._img-background{
	background-image:url(#{request.contextPath}/resources/images/Background.jpg);
}

/* Medium devices (desktops, 992px and up) */
@media (max-width:1366px) {
	._input-style{
		width: 100%;
		height: 30%;
		margin:	3% 0 1% 0 !important;
		border-radius: 5px !important;
		border-color: #7a7a7a !important;  		
	}		
	._record-student {
		border-color: #7a7a7a;
	}
	._confirm {
		background-color: #00a800 !important;
	}	
	/**	Style screen Login
	*	[Start]
	*/
	._container-login{
		margin: 30% 5% 5% 5%;		
	}		
	.logo{
		width: 100%;
		margin-bottom: 2%;
		/*margin-left:-25%;*/		 						
	}
	/**	Style screen Login
	*	[End]
	*/
	
	/**	Style screen Home
	*	[Start]
	*/
	.header{
		margin-top: 0;
		color: white;
		background-color: #D21515;
		font-size: 1.2em;
		font-weight: bold;
	}
	._img-profile{
		width: 95%; 
		border-radius:50%;	
		border: solid 2px #255c89;
		background-color: #ADADAD; 			
	}
	._img-cam{
		width: 95%; 
		border-radius:50%;	
		border: solid 2px #255c89;
		background-color: #ADADAD;			
	}
	._img-border{
		width: 50%;	  
		border-radius:100%;
		padding: 2%;    	
		border: solid 2px black;		
	}
	._touch-img{
		color:black;
	}
	.label-name{
		margin-top:2.5%;
		font-size: 1.3em;
	}
	/**	Style screen Home
	*	[End]
	*/
	footer{
		clear: both !important;
		width: 100% !important;		
		position: absolute;
		bottom: 0;	
		position: relative !important;
	}	
	._btn-registering{
		width: 100% !important;		
		height: 7% !important;
		background-color: #d31515;
		color: white !important;
		border-color: none !important;	
		position: fixed !important;	
		bottom: 0;	
		opacity: 0.9;
    	filter: alpha(opacity=90); /* For IE8 and earlier */
	}
	._btn_include {
		margin-top: 2% !important;
		width: 100% !important;
		height: 4% !important;		
		color: white !important;
		border-color: none !important;
		background-color: #f27900 !important; 
	}	
	.ui-icon{
		background-color: white;
	}

}

/* Caso o dispositivo esteja em modo paisagem */
@media (max-width:1366px) and (orientation: landscape) { 
	footer{
		width: 100% !important;	
		position: relative;						
	}	
}
	
/* Large devices (large desktops, 1200px and up) */
@media (min-width:1367px) { 
	._input-login{
		background-color:black;  
	}
	.logo{
		max-width: 50%;		
	}	
}