*{ 
	margin: 0 auto; 	
	font-family: DroidSans;	
}
 /* Fontes */
 @font-face{
	font-family: "DroidSans";	 
	src: url('#{resource['fonts/DroidSans.ttf']}');
}
@font-face{
	font-family: "DroidSans-Bold";
	src: url('#{resource['fonts/DroidSans-Bold.ttf']}');
} 
/* Estilo para as telas principais */
._img-logo {
	width: 80%;
}

._message {	
	float:left;
	margin-bottom: 5%;
}

._message-default {
	clear: both !important;
	padding-bottom: 8%;
}

._container-datatable {
	width: 100%;
	float:left;
	margin: 2.5% 0;
}

._screen-title {
	width: 100%;
	height: 30%; 	
	border-bottom: 1px solid #F9F9F9;
	float:left;
	text-align: left;
	font-size:1.5em;	
	color: #255e8c;
}

._large-title {		
	color: #102f47;
	font-size: 1.8em;
	border-bottom: 1px solid #102f47;
}

._sub-title {
	color: #d21515;
	float: left;
}

._list{
	color: #255e8c;
}
  
.tableFirstLine {  
	width: 100%;
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #BBBBBB;
}

.tableFirstLine td { 
  width: 80%;
}
 
.tableNextLine {
    background: none repeat scroll 0 0 #FFFFFFF;
    border-top: 1px solid #BBBBBB;
}
._list-container{
	width: 100%;
	padding: 2.5% 10%;
	font-size: 1.5em;
	margin-bottom: 5%;
}
._list-content{
	float:left;
	color: #092e49;
}
._list-content-table{
	color: black;
	float:left;
	font-size:0.8em
}
._list-button{
	float: right;
	background-color: white;
	border: none;
}
._small_button {
	height: 1.3em;
}
 
/* PrimeFaces estilo modificado */
/* Botões */
.fa-circle-thin {
	color: #50A250 !important;
}

.fa-arrow-circle-o-up{
	color: #50A250 !important;
}

.fa-arrow-circle-o-down{
	color: #DB4E4A !important; 
}

.fa-thumbs-o-up{
	color: #229ae5 !important;
}

.fa-thumbs-o-down {
	color: #DB4E4A !important;
}

.fa-remove {
	color: #bf1300 !important;
}

.fa-edit {
	color: #229ae5;
}

._icon-cycle {
	color: #229ae5 !important;
}

.ui-button-icon-only .ui-icon.fa, .ui-button-text-icon-left .ui-icon.fa, .ui-button-text-icon-right .ui-icon.fa {
  background-color: transparent !important;
}

/* SelectOneMenu */
.ui-selectonemenu .ui-selectonemenu-label {
  color: #9999AF;
  font-weight: bold;
}

/* SelectOneMenu Icon */
.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
  width: 150%;
  margin-top: 8px;
  float: left;
  margin-left: -2px;
}

/* CALENDAR MODIFICATE */
._calendar {
	width: 100% !important; 
}

.ui-datepicker .ui-datepicker-title {
	width: 100% !important;
	margin: 0 auto !important;
	background-color: #cb0000;
	color: #F2F2F2;
}

.ui-datepicker .ui-datepicker-prev { 
	opacity: 100;	
}

.ui-datepicker .ui-datepicker-next {
	opacity: 100;
}

.ui-datepicker .ui-datepicker-calendar
.ui-state-default {
	border: 1px solid #5F83B9;
	padding: 20%;
}

._autocomplete{
	margin: -4% 0 2% 0 !important; 
}

/* INPUT MODIFICADA */
.ui-inputfield {	
	width: 100% !important;		
	font-size: 1.2em !important;	
	border-color: #7a7a7a;
	margin-top: -2% !important;
	margin: 2% 0 0 0 !important;   
	height: 112%;
}
.ui-selectonemenu label.ui-selectonemenu-label{
	margin: 0 !important;	
}
	
._container-login{
	margin: 5%;
}

/* AUTOCOMPLET MODIFIED */
.ui-autocomplete {			 
	width: 110% !important;
	margin: -3.5% 0 2.5% -5% !important;
	background-color: transparent !important;
	border: none !important;	
}

/* TABLE MODIFIED */
table {
	width: 100% !important;
	float: left !important;   
}

/* ROW TABLE*/
.row{
	margin-bottom: 10% !important;
}

._img-background{
	background-image:url(#{request.contextPath}/resources/images/Background.jpg);
}

/* Desktop devices */
@media (max-width: 1800px) and (min-width: 980px) { 	
	/* MENU LEFTBAR [Start] */	 	 
	._left-bar {
		width: 25%;  
		height: 60em;     
		float: left;	
		margin: -1.5% -1%;
		padding: 1%; 
		background-color: rgba(255, 255, 255, 0.7);
		border-right: 2px solid #286090;  
		box-shadow: 5px 10px 10px #dddddd !important; 		 		
	}
	
	._logo-desk {
		width: 100%; 
		float: left;
	}
	
	._menu {
		width: 100%;				
	}
	._menu ul {		
		list-style: none;
		margin-left: -10%;
	}
	._menu ul li {]
		width: 100% !important;
		padding: 0.5% 0;
	}
	._btn-menu {
		background-color: transparent !important;
		border: none;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		color: #286090;
	}
	
	._btn-menu :HOVER, _btn-menu :ACTIVE{
		background-color: #286090;
		color: white;  
	}
	
	._name-user {
		width: 100%; 
		margin: 5% 0; 
		padding: 2% 0;  		
		text-align: center;
		background-color: #F9F9F9;	 
	}
		
	/* MENU LEFTBAR [End] */
	
	/* HEADER [Start] */
	header {
		width: 100%;
		height: 20px;  
		background-color: black;
		color: white; 
		padding: 2% 0;    
		margin-bottom: 1.5%;
		box-shadow: 0 5px 8px 5px #dddddd !important;
	}
	
	._toolbar {	 		
		width: 100%;					
		list-style: none;
		text-align: right;
		  		 		  	
	}
	._toolbar li {
		display: inline;
		padding: 0 5%;	 	
		cursor: pointer; 
		font-weight: bold; 	     		
	}
	/* HEADER [End] */
	
	/* CONTENT [Start] */	 
	._content {
		width: 79%; 
		float:right;
		margin: -2.2% -2% 0 0;		
		padding: 2.5%; 
		background-color: rgba(255, 255, 255, 0.4); 			      	 							  		  	    
	}
	._border { 
		width: 100%;
		float:left;
		border-bottom: 1px solid #eaeaea; 
	}
	 
	/* ALTER COMPONENT PANEL PRIMEFACES */
	.ui-widget-content {
		border: none !important;
		background-color: transparent !important;
	}
	/* CONTENT [End] */
	
	/* FORM CADASTRE */
	._title-form {
		width: 100%;
		float: left;
		text-align: left;
		font-size: 1.6em;
		font-weight: bold;		
		color: #286090;
		border-bottom: 1px dashed #e0e0e0;
	}
	._title-form span {		 	
		color: #bcbcbc;   
		font-style: italic;
	}
	._subtitle-form {
		color: #b70000;
		margin-top: 2%;
	}
	._input-form {  
		width: 60% !important;
		height: 2.1em !important; 
		float: left;		   
		border: 1px solid #286090 !important; 	
		box-shadow: 10px 10px 5px #dddddd !important; 
	}
	._btn-confirm {
		width: 30% !important;		 	
		height: 2.3em !important;
		float: left;
		clear: both; 
		margin: 2% 0; 
		background-image: linear-gradient(to bottom, green, #008000) !important;
		color: #F2F2F2 !important; 
		border-color: none !important; 
		border-radius: 5%;
		font-size: 1.1em !important; 
		font-weight: lighter !important;     
		opacity: 100 !important; 
		box-shadow: 10px 10px 5px #dddddd !important;			  
	} 	
	
	._messages {
		width: 25% !important;  
		margin-left: 5% !important;   
		float:left !important; 
	}
	
	/* CONTENT REGISTER */
	._content-register { 
		margin-top: 2%; 
	}
}
  
/* Mobile devices */
@media (max-width:979px) {
	._input-style{
		width: 100%;
		height: 30%;
		margin:	3% 0 1% 0 !important;
		border-radius: 5px !important;
		border-color: #7a7a7a !important;  		
	}	
	._input-action{
		margin:	-3% 0 1% 0 !important; 
	}	
	._record-student {
		border-color: #7a7a7a;
	}
	._confirm {
		background-color: #00a800 !important;
	}
	._btn_updte {
		background-color: #f27d09;
	}	
	/**	Style screen Login
	*	[Start]
	*/
	._container-login{
		margin: 30% 5% 5% 5%;		
	}		
	.logo{
		width: 100%;
		margin-bottom: 2%;
		/*margin-left:-25%;*/		 						
	}
	/**	Style screen Login
	*	[End]
	*/
	
	/**	Style screen Home
	*	[Start]
	*/
	.header{
		margin-top: 0;
		color: white;
		background-color: #D21515;
		font-size: 1.2em;
		font-weight: bold;
	}
	._img-profile{
		width: 95%; 
		border-radius:50%;	
		border: solid 2px #255c89;
		background-color: #ADADAD; 			
	}
	._img-cam{
		width: 95%; 
		border-radius:50%;	
		border: solid 2px #255c89;
		background-color: #ADADAD;			
	}
	._img-border{
		width: 50%;	  
		border-radius:100%;
		padding: 2%;    	
		border: solid 2px black;		
	}
	._touch-img{
		color:black;
	}
	.label-name{
		margin-top:2.5%;
		font-size: 1.3em;
	}
	/**	Style screen Home
	*	[End]
	*/
	footer {
		clear: both !important;
		width: 100% !important;		
		position: absolute;
		bottom: 0;	
		position: relative !important;
	}	
	._btn-registering {
		width: 100% !important;		
		height: 7% !important;
		background-color: #d31515;
		color: white !important;
		border-color: none !important;	
		position: fixed !important;	
		bottom: 0;	
		opacity: 0.9;
    	filter: alpha(opacity=90); /* For IE8 and earlier */
	}	
	._btn_include {
		margin-top: 2% !important;
		width: 100% !important;	
		color: white !important;
		border-color: none !important;
		background-color: #1a88ad !important; 
	}	
	.ui-icon{
		background-color: white;
	}
		
}

/* Caso o dispositivo esteja em modo paisagem */
@media (max-width: 1366px) and (orientation: landscape) { 
	footer{
		width: 100% !important;	
		position: relative;						
	}	
}
	
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1280px) { 
	._container-login {
		margin-top: 5%;
	}
	._input-login{
		background-color:black;  
	}
	.logo{
		max-width: 35%;				
	}	
	._input-style {
		width: 100%;
	}	
}
@media (min-width: 1500px){	
	._input-style {
		margin: 2% 0 0 0;		
	}
}

